/* универсальный стиль */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
  --primary-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
}
/* основной цвет текста #212121 */
/* вспомогательный цвет текста #757575 */
/* основной цвет фона #E5E5E5 */
/* Вспомогательный цвет фона #F5F4FA */
/* акцент #2196F3 */
/* цвет футера #2F303A */



/* ---------------Обнуление визуала---------- */

html{
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

img{
  display: block;
}

body {
  margin: 0;

  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
ul,
p{
  margin: 0;
  padding: 0;
}


/* ----------Универсальные классы----------- */

.list {
  list-style: none;
}


.title {
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section{
  padding: 94px;
}

/* --------------Стили Хедера ----------------*/

.page_heder{
border: 1px solid #ECECEC;
padding: 25px 0;
}

.header-box{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header-box > nav{
  display: flex;
  align-items: center;
    
}

.logo {
  color: var(--title-text-color);
  
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-accent {
  color: var(--accent);
}
.list-nav {
  display: flex;
  
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.list-nav >li {
  margin-left: 50px;
}

.list-nav >li:first-child{
  margin-left: 93px;
}

.list-nav .link{
  padding: 32px 0;
  /* min-width: 80px; */
}

.link {
  color: currentColor; 
}

.link:hover,
.link:focus {
  color: var(--accent);
}

.link-nav {
  color: var(--accent);
}

.ause-nav {
  display: flex;
  
} 

.ause-nav >li{
  margin-right: 50px;
}

.ause-nav >li:last-child{
  margin-right: 0;
}

.ause-nav a {
    color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}





/*--------------- стили main index ------------------*/

.hero{
  max-width: 1600px;
  min-height: 600px ;

  margin-left: auto;
  margin-right: auto;


  background-color: rgba(47, 48, 58, 0.4);
  background-image: url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-conteyner{
  text-align: center;
  
  padding: 200px 15px;
  
  /* background-color: lightgreen; */

}

.hero-title{

  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  
}

.hero-button{
  margin-top: 30px;

  background-color: var(--accent);
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;

  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  width: 200px;
  height: 50px;
  
}
/* -----------Преимущества компании */

.advantage_section{
  padding: 94px 0 0 0 ;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.advantage_list{
  display: flex;
}

.advantage_list >li{
  margin-right: 30px;
  width: 270px;
}

.advantage_list >li:last-child{
  margin-right: 0;
}

.advantage_list >li::before{
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #F5F4FA;
  border-radius: 4px;
  
  /* outline: 1px solid chartreuse; */

  background-repeat: no-repeat;
  background-position: center;
}

.icon_antenna::before{
  background-image: url(../images/icon/advantage_antenna.svg);

}

.icon_astronaut::before{
  background-image: url(../images/icon/advantage_astronaut.svg);
}

.icon_clock::before{
  background-image: url(../images/icon/advantage_clock.svg);
}

.icon_diagram::before{
  background-image: url(../images/icon/advantage_diagram.svg);
}

.advantage-title{

  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-text{

  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}


/* ---------чем мы занимаемся */

.work{
  /* background-color: limegreen; */
  margin: 0px auto;
}

.work-list{
  display: flex;
  justify-content: center;
}

.work-list >li{
    margin-right: 30px;
}

.work-list >li:last-child {
  margin-right: 0;
}

.our_work{
  margin-bottom: 50px;
}

.our_work,
.our_team,
.ouer_clients{
 
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -----------------наша команда */

.team_section{
  background-color: var(--second-background-color);
  padding-bottom: 94px;
}
.team{
  /* background-color: limegreen; */
  
}

.our_team {
  margin-bottom: 50px;
}

.team >.list {
  display: flex;
  justify-content: center;
  
}
.team_list{
  margin-right: 30px;
}

.team_list:last-child{
  margin-right: 0;
}


.team-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  /* margin-top: 30px; */
  text-align: center;
}

.team_title_stile{
  text-align: center;
  padding: 30px 0;

  background-color:  var(--primary-background-color);
}

.product_text_box{
  padding: 20px 23px;
  border: 1px solid #EEEEEE;
}
.team-text{

  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  margin-top: 10px;
}

/* ---------------------наши клиенты---------------------- */

.clients_list{
  display: flex;

  margin-top: 50px;
}


.clients_list>li{
  width: calc((100% - 30px) /6);
  padding: 10px;
  outline: 1px solid green;
}

.clients_list>li:not(:last-child){
  margin-right: 30px;
}

/* --------------------стили main portfolio*-------------------------------*/
.maim_information{
  padding: 94px 0;
}

.button-list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;

  color: var(--title-text-color);

}

.button-list >li:not(:last-child){
  margin-right: 8px;
}
.button-list button {

  border-radius: 4px;
  padding: 6px 22px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.button-list button:hover,
.button-list button:focus {
  color: #ffffff;
  background-color: var(--accent);
}

button {
    border: none;
    font-family: inherit;
}

/* -----------------------галнрея продуктов--------------------- */
.product_list{
  display: flex;
  flex-wrap: wrap;
 
  /* background-color: aquamarine; */
}

.product_list >li{
  /* width: calc(100% / 3 - 30px); */

  margin-right: 30px;
  margin-bottom: 30px;
}

.product_list >li:nth-child(3n){
  margin-right: 0px;
}

.product_list >li:nth-child(n+7){
  margin-bottom: 0;
}



.product_link{

}

.cards-text{
  color: var(--primary-text-color);
}




/* --------------------Подвал -----------------------------------------------*/
footer {
  background-color: var(--third-background-color);
  padding: 60px 0;
}

.logo-footer{
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.footer-main-link{
  color: #ffffff;
}

.footer-link{
  color: rgba(255, 255, 255, 0.6);
}

.footer-list {

  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.footer-list >li{
  display: block;
}

.footer-list >li:not(:first-child){
  margin-top: 9px;
}